/* Importação já feita no topo.php */
body {
    font-family: 'Silkscreen', sans-serif; 
    background-color: rgba(16, 13, 13, 0.621); 
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2b8a; 
    color: #5f2fc0; 
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 0;
}

nav li {
    display: inline; /* Itens do menu na horizontal */
    margin: 0 15px; /* Espaçamento entre os itens */
}

nav a {
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    font-family: 'Silkscreen', sans-serif; /* Aplicando a fonte aos links do menu */
}

nav a:hover {
    color: #ffcc00; /* Muda a cor ao passar o mouse */
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Silkscreen', sans-serif; /* Aplicando a fonte ao rodapé */
}

div {
    text-align: center;
    line-height: 1.5; /* Melhorando a legibilidade */
}
